@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AntipastoPro;
    src: url(/public/Fonts/AntipastoPro-Light_trial.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Dosis;
    src: url(/public/Fonts/Dosis-Bold.ttf);
    font-weight: bold;
}
/* временно отключил шрифты */
/* body {
    font-family: AntipastoPro, sans-serif;
    font-weight: normal;
} */

[x-cloak] {
    display: none;
}

:root {
    --primary:  #4357ee;
    --gray-smoke: #606688;
    --light-gray: #677DA0;
    --light-primary: #E8F1FA;
}
